doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Karibu Groceries
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css') // Optional, for custom styles

  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href='/') Karibu Groceries
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/sales/sale') Add Sale
            li.nav-item
              a.nav-link(href='/produceList') Produce List
            li.nav-item
              a.nav-link(href='/logout') Logout

    // Content injected from the view
    block content

    // Footer
    footer.bg-light.text-center.mt-5
      .container
        small.text-muted © 2025 Karibu Groceries Ltd

    // Bootstrap JS & custom script
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
    script(src='/js/script.js') // Optional, if you have custom JavaScript
