doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Karibu Groceries Limited
    link(rel='stylesheet', href='/css/background.css')
    link(rel='stylesheet', href='/css/home.css')
  body
    header.navbar
      .nav-center
        a(href='/login') Sign In
        a(href='/signingup') Sign Up
      .nav-right
        .logo
          span.k K
          span.g G
          span.l L

    main
      section.about-company
        h2 Welcome to Karibu Groceries Limited
        p
          | Karibu Groceries Limited (KGL) is a premier wholesaler produce distributor dealing in cereals with 2 Branches in different locations. committed to quality and excellence in agricultural distribution.

    footer.footer
      p &copy; 2025 Karibu Groceries Limited. All Rights Reserved.

    // Add your custom script if needed, for example, to toggle navigation menu or background animations
    script(src='/js/custom.js') 
