nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.px-4.mb-4
  a.navbar-brand(href='/sales/credit/list') Karibu Groceries
  ul.navbar-nav.ms-auto
    li.nav-item
      a.nav-link(href='/sales/credit/list') Dashboard
    li.nav-item
      a.nav-link(href='/sales/sale') Register Sale
    li.nav-item
      a.nav-link(href='/sales/credit') Register Credit Sale
    li.nav-item
      a.nav-link(href='/logout') Logout
