nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.px-4.mb-4
  a.navbar-brand(href='/sales/dashboard') Karibu Groceries
  ul.navbar-nav.ms-auto
    li.nav-item
      a.nav-link(href='/sales/dashboard') Dashboard
    li.nav-item
      a.nav-link(href='/sales/sale') Register Sale
    li.nav-item
      a.nav-link(href='/sales/saleList') Sale List
    li.nav-item
      a.nav-link(href='/sales/credit') Register Credit Sale
    li.nav-item
      a.nav-link(href='/sales/stock') View Stock
    li.nav-item
      a.nav-link(href='/logout') Logout
