body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(66, 134, 55, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input.is-invalid {
    border-color: red;
    box-shadow: 0 0 5px red;
    outline: none;
}

.text-danger {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
    display: block;
}

.btn {
    background: #282829;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #cabd08;
    color: rgb(0, 0, 0);
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-container a {
    color: black;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
